[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
fastapi = "*"
uvicorn = "*"
pip = "*"
install = "*"
jinja2 = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
